@charset "utf-8";

// Font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

// Colors
$body-bg-color: #647687;
$header-logo-bg-color: #1372a1;
$header-bg-color: #bac8d3;
$bg-color-light: #eeeeee;
$ingredient-bg-color-higlight: #f8f8f8;
$font-color-dark: #2b2b2b;
$ingredient-img-bg-color: #f5f5f5;
$ingredient-control-bg-color: hsla(0, 83%, 67%, 0.9);
$footer-bg-color: $header-bg-color;
$footer-help-bg-color: $ingredient-img-bg-color;
$footer-icon-color: #4a5054;

$green: #3cd23c;
$yellow: #ffff33;
$red: #ff6666;

//Sizes
$image-size: 2rem;

$family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $family-sans-serif;
  background-color: $body-bg-color;
  color: #fff;
}

#root {
  overflow: hidden;
}

figure {
  margin: 0;
}

/* TOP BAR */

header.top-bar {
  display: flex;
  background-color: $header-bg-color;
  color: $font-color-dark;
}

header.top-bar > figure {
  padding: 0.5rem;
  background-color: $header-logo-bg-color;
}

figure img {
  max-width: $image-size;
}

.search {
  width: 100%;
  margin: 0.6rem;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  background-color: #fff;
}

/* INGREDIENT LIST */

.ingredient-list-wrapper {
  height: calc(100vh - 5.7rem);
  overflow: scroll;
}

.ingredient-list {
  list-style: none;
  margin: 0.5rem;
  padding: 0;
}

.empty-list-placeholder {
  text-align: center;
  padding: 3rem;
  line-height: 1.5rem;
}

.empty-list-placeholder svg {
  color: hsl(209, 15%, 36%);
  padding-bottom: 1rem;
}

.ingredient-item {
  position: relative;
  height: 2rem;
  display: flex;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: $bg-color-light;
  color: $font-color-dark;
  border-radius: 5px;
  cursor: pointer;
  line-height: 2rem;
  overflow: hidden;
}
.ingredient-item:hover {
  background-color: $ingredient-bg-color-higlight;
}

.ingredient-item.selected {
  box-shadow: 1px 1px 2px #3e3d3d;
  background-color: $ingredient-bg-color-higlight;
}

.ingredient-item figure {
  background-color: $ingredient-img-bg-color;
  margin-right: 0.5rem;
  flex-shrink: 0;
  width: $image-size;
  height: $image-size;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #000000;
  text-align: center;
  overflow: hidden;
}

.ingredient-item img {
  vertical-align: middle;
  border-radius: 50%;
}

.ingredient-name {
  width: 100%;
  text-transform: capitalize;
}

.ingredient-controls {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.2rem;
  height: 42px;
  border-radius: 5px;
  background-color: $ingredient-control-bg-color;
}

.ingredient-item .i-control {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 0;
  margin: 0 0.2rem 0 0.2rem;
  text-align: center;
  cursor: pointer;
}

.i-control:hover {
  color: #fff;
}

.ingredient-list .i-control > span {
  font-size: 0.7rem;
}

.i-control-icon {
  margin-bottom: 0.4rem;
}

/* BOTTOM BAR */

footer.bottom-bar {
  display: flex;
  background-color: $footer-bg-color;
  text-align: center;
  font-size: 0.8rem;
  line-height: 2rem;
  color: #222;
  position: absolute;
  width: 100%;
  top: calc(100vh - 2rem);
}

footer svg.icon {
  color: $footer-icon-color;
}

.api-stats {
  display: flex;
}

.api-stats-item {
  margin: auto 2px;
}

.api-stats-item svg {
  margin-right: 2px;
}

.status-light {
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  border-radius: 48px;
  margin: auto 2px;
}

.status-light.green {
  background-color: $green;
}
.status-light.yellow {
  background-color: $yellow;
}
.status-light.red {
  background-color: $red;
}

footer .help-access {
  position: absolute;
  right: 0;
  width: 2rem;
  background-color: $footer-help-bg-color;
  cursor: pointer;
}

/* MODAL */
.modal {
  color: $font-color-dark;
}
.modal__container {
  background-color: rgba(230, 225, 218, 0.8);
}
.modal__content a {
  color: #8a2b2b;
  font-weight: 700;
}

.modal svg.fa-bitbucket {
  margin-top: 1rem;
  color: #0747a6;
  font-size: 1.5rem;
}

table.substitutes {
  width: 100%;
  border: 1px solid $header-bg-color;
  border-collapse: collapse;
  font-size: 0.9rem;
  color: #444;
  text-align: left;
  background-color: $bg-color-light;
}
table.substitutes td {
  border: 1px solid #828282;
  padding: 0.5rem;
}
